@model QuantumScrambleImage.Models.ImageViewModel
@{
    ViewData["Title"] = "Measurement";
}

<h1>Measurement</h1>

<!-- Carousel wrapper -->
<div id="carouselMultiItemExample"
     class="carousel slide carousel-dark text-center"
     data-mdb-ride="carousel">
    <a asp-action="Index" class="btn btn-success">Return</a>
    </div>
    <!-- Inner -->
    <div class="carousel-inner py-4">
        <!-- Single item -->
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <img src="@Model.ImageFullPath"
                                 class="card-img-top"
                                 alt="Waterfall" />
                            <div class="card-body">
                                <h5 class="card-title">Original Image</h5>
                                <p class="card-text">
                                Entropy: @Model.OriginalEntropy
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 d-none d-lg-block">
                        <div class="card">
                            <img src="@Model.ScrambleFullPath"
                                 class="card-img-top"
                                 alt="Sunset Over the Sea" />
                            <div class="card-body">
                                <h5 class="card-title">Scramble Image</h5>
                                <p class="card-text">
                                  Entropy: @Model.ScrambleEntropy
                                </p>
                                <a href="#!" class="btn btn-primary">Button</a>
                            </div>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
      
    </div>
    <!-- Inner -->
</div>
<!-- Carousel wrapper -->